docker/node-red/data/.flows.json.backup
[{"id":"4c9031d5.897f1","type":"tab","label":"Daedalus input","disabled":false,"info":"send events to Daedalus"},{"id":"108d6a9e.5ae535","type":"tab","label":"GM Panel","disabled":false,"info":""},{"id":"ce607712.d56ad8","type":"tab","label":"Player Panel","disabled":false,"info":""},{"id":"29edeaee.f89f06","type":"subflow","name":"Panel State","info":"","category":"","in":[{"x":50,"y":30,"wires":[{"id":"b73c0d8f.7572c"}]}],"out":[{"x":700,"y":40,"wires":[{"id":"b73c0d8f.7572c","port":0}]},{"x":700,"y":120,"wires":[{"id":"b73c0d8f.7572c","port":1}]},{"x":700,"y":180,"wires":[{"id":"b73c0d8f.7572c","port":2}]},{"x":700,"y":260,"wires":[{"id":"b73c0d8f.7572c","port":3}]},{"x":700,"y":320,"wires":[{"id":"b73c0d8f.7572c","port":4}]}],"env":[],"meta":{},"color":"#FFAAAA","inputLabels":["incoming message"],"outputLabels":["is online","is error","is clear","corruption level","threshold"],"icon":"node-red/cog.svg"},{"id":"7338e8bb.63d7e8","type":"mqtt-broker","name":"","broker":"mqtt","port":"1883","clientid":"","usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"sessionExpiry":""},{"id":"b0e6a3c6.f153e","type":"ui_group","name":"A1","tab":"51849739.bc8348","order":3,"disp":true,"width":"12","collapse":true},{"id":"51849739.bc8348","type":"ui_tab","name":"Panel GM","icon":"dashboard","order":7,"disabled":false,"hidden":false},{"id":"765ce42a.705a7c","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey","palette":"light"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"590ecc9d.73ddb4","type":"ui_group","name":"A1","tab":"ea88cca2.dbc18","order":1,"disp":true,"width":"12","collapse":false},{"id":"55acb186.2ed6a","type":"ui_group","name":"A2","tab":"ea88cca2.dbc18","order":2,"disp":true,"width":"12","collapse":false},{"id":"ede6cdc2.9b866","type":"ui_group","name":"A3","tab":"ea88cca2.dbc18","order":3,"disp":true,"width":"12","collapse":false},{"id":"fefd588d.6ff448","type":"ui_group","name":"B3","tab":"ea88cca2.dbc18","order":6,"disp":true,"width":"12","collapse":false},{"id":"721e06c2.991668","type":"ui_group","name":"B1","tab":"ea88cca2.dbc18","order":4,"disp":true,"width":"12","collapse":false},{"id":"c9f5b28a.635fa","type":"ui_group","name":"B2","tab":"ea88cca2.dbc18","order":5,"disp":true,"width":"12","collapse":false},{"id":"ea88cca2.dbc18","type":"ui_tab","name":"Panel ECR","icon":"dashboard","order":8,"disabled":false,"hidden":false},{"id":"d954ccd6.e8c9e","type":"ui_group","name":"A2","tab":"51849739.bc8348","order":3,"disp":true,"width":"12","collapse":true},{"id":"656b2b59.e10e14","type":"ui_group","name":"A3","tab":"51849739.bc8348","order":3,"disp":true,"width":"12","collapse":true},{"id":"742353f3.04962c","type":"ui_group","name":"B1","tab":"51849739.bc8348","order":3,"disp":true,"width":"12","collapse":true},{"id":"546b365.035b7c8","type":"ui_group","name":"B2","tab":"51849739.bc8348","order":3,"disp":true,"width":"12","collapse":true},{"id":"dbfae9f1.9a0228","type":"ui_group","name":"B3","tab":"51849739.bc8348","order":3,"disp":true,"width":"12","collapse":true},{"id":"d8a247d1.ba1af8","type":"inject","z":"4c9031d5.897f1","name":"A1","props":[{"p":"panelId","v":"A1","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","x":110,"y":80,"wires":[["52e5160e.7a0cb8"]]},{"id":"422b4c53.0de284","type":"http request","z":"4c9031d5.897f1","name":"Fix Everything","method":"GET","ret":"txt","paytoqs":"ignore","url":"http://{{host}}:56667/fixeverything/{{panelId}}","tls":"","persist":false,"proxy":"","authType":"","x":660,"y":80,"wires":[["93ec6a22.588028"]]},{"id":"93ec6a22.588028","type":"debug","z":"4c9031d5.897f1","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":870,"y":80,"wires":[]},{"id":"ab65bd4.ad5424","type":"inject","z":"4c9031d5.897f1","name":"A2","props":[{"p":"panelId","v":"A2","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","x":110,"y":140,"wires":[["52e5160e.7a0cb8"]]},{"id":"4fe4c92.693f938","type":"inject","z":"4c9031d5.897f1","name":"A3","props":[{"p":"panelId","v":"A3","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","x":110,"y":200,"wires":[["52e5160e.7a0cb8"]]},{"id":"d1451bbe.48d298","type":"inject","z":"4c9031d5.897f1","name":"B1","props":[{"p":"panelId","v":"B1","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","x":250,"y":40,"wires":[["52e5160e.7a0cb8"]]},{"id":"cd42ba32.25cd28","type":"inject","z":"4c9031d5.897f1","name":"B2","props":[{"p":"panelId","v":"B2","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","x":250,"y":100,"wires":[["52e5160e.7a0cb8"]]},{"id":"9a3b1b0c.df2e48","type":"inject","z":"4c9031d5.897f1","name":"B3","props":[{"p":"panelId","v":"B3","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","x":250,"y":160,"wires":[["52e5160e.7a0cb8"]]},{"id":"52e5160e.7a0cb8","type":"template","z":"4c9031d5.897f1","name":"host","field":"host","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"${DAEDALUS_HOST}","output":"str","x":490,"y":80,"wires":[["422b4c53.0de284"]]},{"id":"7a59bc14.aca874","type":"inject","z":"4c9031d5.897f1","name":"fix-everything : A1","props":[{"p":"panelId","v":"A1","vt":"str"},{"p":"command","v":"fix-everything","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","x":150,"y":280,"wires":[["947de0e7.506cf"]]},{"id":"26d41833.e07ac8","type":"inject","z":"4c9031d5.897f1","name":"complex-error : A1","props":[{"p":"panelId","v":"A1","vt":"str"},{"p":"command","v":"complex-error","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","x":150,"y":340,"wires":[["947de0e7.506cf"]]},{"id":"947de0e7.506cf","type":"template","z":"4c9031d5.897f1","name":"address","field":"topic","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"d-in/{{panelId}}/{{command}}","output":"str","x":500,"y":280,"wires":[["8509d41d.a89a28"]]},{"id":"e767bf8a.6b85d","type":"mqtt out","z":"4c9031d5.897f1","name":"","topic":"","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"7338e8bb.63d7e8","x":910,"y":280,"wires":[]},{"id":"7c014fdc.4c48","type":"mqtt in","z":"4c9031d5.897f1","name":"all MQTT traffic","topic":"#","qos":"2","datatype":"auto","broker":"7338e8bb.63d7e8","nl":false,"rap":true,"rh":0,"x":130,"y":500,"wires":[["79f1d2a0.9a5a0c"]]},{"id":"84f7fea0.5e7f3","type":"debug","z":"4c9031d5.897f1","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":730,"y":520,"wires":[]},{"id":"8509d41d.a89a28","type":"change","z":"4c9031d5.897f1","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"{}","tot":"json"}],"action":"","property":"","from":"","to":"","reg":false,"x":720,"y":280,"wires":[["e767bf8a.6b85d"]]},{"id":"767b8e4.4b3607","type":"ui_button","z":"108d6a9e.5ae535","name":"","group":"b0e6a3c6.f153e","order":5,"width":3,"height":1,"passthru":false,"label":"On","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"start-up","topicType":"str","x":330,"y":60,"wires":[["49941e7.b21a4e"]]},{"id":"dd5aa537.e751e8","type":"ui_button","z":"108d6a9e.5ae535","name":"","group":"b0e6a3c6.f153e","order":6,"width":3,"height":1,"passthru":false,"label":"Off","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"shut-down","topicType":"str","x":330,"y":100,"wires":[["49941e7.b21a4e"]]},{"id":"a4de6dc3.d81a7","type":"ui_slider","z":"108d6a9e.5ae535","name":"","label":"Threshold","tooltip":"","group":"b0e6a3c6.f153e","order":10,"width":12,"height":1,"passthru":false,"outs":"end","topic":"overload-threshold","topicType":"str","min":0,"max":"1","step":"0.01","x":520,"y":220,"wires":[["49941e7.b21a4e"]]},{"id":"abf70297.8f8cd","type":"ui_button","z":"108d6a9e.5ae535","name":"","group":"b0e6a3c6.f153e","order":8,"width":2,"height":1,"passthru":false,"label":"Clear","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"reset-load","topicType":"str","x":330,"y":140,"wires":[["49941e7.b21a4e"]]},{"id":"6167e310.febbfc","type":"ui_button","z":"108d6a9e.5ae535","name":"","group":"b0e6a3c6.f153e","order":9,"width":2,"height":1,"passthru":false,"label":"Error","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"complex-error","topicType":"str","x":330,"y":180,"wires":[["49941e7.b21a4e"]]},{"id":"2d60d31a.ceb40c","type":"ui_button","z":"108d6a9e.5ae535","name":"","group":"b0e6a3c6.f153e","order":7,"width":2,"height":1,"passthru":false,"label":"Fix All","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"fix-everything","topicType":"str","x":330,"y":220,"wires":[["49941e7.b21a4e"]]},{"id":"62645282.d015fc","type":"ui_led","z":"ce607712.d56ad8","order":4,"group":"590ecc9d.73ddb4","width":6,"height":1,"label":"Malfunction  ","labelPlacement":"left","labelAlignment":"left","colorForValue":[{"color":"#ffff00","value":"true","valueType":"bool"}],"allowColorForValueInMessage":false,"shape":"circle","showGlow":true,"name":"Yellow LED","x":530,"y":80,"wires":[]},{"id":"461d1b9e.9d6684","type":"ui_led","z":"ce607712.d56ad8","order":3,"group":"590ecc9d.73ddb4","width":6,"height":1,"label":"Calibrated ","labelPlacement":"left","labelAlignment":"left","colorForValue":[{"color":"#0000ff","value":"true","valueType":"bool"}],"allowColorForValueInMessage":false,"shape":"circle","showGlow":true,"name":"Blue LED","x":520,"y":120,"wires":[]},{"id":"25298803.7c7cd8","type":"ui_led","z":"ce607712.d56ad8","order":1,"group":"590ecc9d.73ddb4","width":6,"height":1,"label":"On-Line","labelPlacement":"left","labelAlignment":"left","colorForValue":[{"color":"#008000","value":"true","valueType":"bool"}],"allowColorForValueInMessage":false,"shape":"circle","showGlow":true,"name":"Green LED","x":530,"y":40,"wires":[]},{"id":"38ea1753.de8da8","type":"ui_led","z":"ce607712.d56ad8","order":4,"group":"55acb186.2ed6a","width":6,"height":1,"label":"Malfunction  ","labelPlacement":"left","labelAlignment":"left","colorForValue":[{"color":"#ffff00","value":"true","valueType":"bool"}],"allowColorForValueInMessage":false,"shape":"circle","showGlow":true,"name":"Yellow LED","x":530,"y":300,"wires":[]},{"id":"28a9721b.ca26ce","type":"ui_led","z":"ce607712.d56ad8","order":3,"group":"55acb186.2ed6a","width":6,"height":1,"label":"Calibrated ","labelPlacement":"left","labelAlignment":"left","colorForValue":[{"color":"#0000ff","value":"true","valueType":"bool"}],"allowColorForValueInMessage":false,"shape":"circle","showGlow":true,"name":"Blue LED","x":520,"y":340,"wires":[]},{"id":"2c270879.9ca328","type":"ui_led","z":"ce607712.d56ad8","order":1,"group":"55acb186.2ed6a","width":6,"height":1,"label":"On-Line","labelPlacement":"left","labelAlignment":"left","colorForValue":[{"color":"#008000","value":"true","valueType":"bool"}],"allowColorForValueInMessage":false,"shape":"circle","showGlow":true,"name":"Green LED","x":530,"y":260,"wires":[]},{"id":"3b3ce226.6307ce","type":"ui_led","z":"ce607712.d56ad8","order":4,"group":"ede6cdc2.9b866","width":6,"height":1,"label":"Malfunction  ","labelPlacement":"left","labelAlignment":"left","colorForValue":[{"color":"#ffff00","value":"true","valueType":"bool"}],"allowColorForValueInMessage":false,"shape":"circle","showGlow":true,"name":"Yellow LED","x":530,"y":520,"wires":[]},{"id":"93075b8e.c9fea8","type":"ui_led","z":"ce607712.d56ad8","order":3,"group":"ede6cdc2.9b866","width":6,"height":1,"label":"Calibrated ","labelPlacement":"left","labelAlignment":"left","colorForValue":[{"color":"#0000ff","value":"true","valueType":"bool"}],"allowColorForValueInMessage":false,"shape":"circle","showGlow":true,"name":"Blue LED","x":520,"y":560,"wires":[]},{"id":"2b894308.39d3dc","type":"ui_led","z":"ce607712.d56ad8","order":1,"group":"ede6cdc2.9b866","width":6,"height":1,"label":"On-Line","labelPlacement":"left","labelAlignment":"left","colorForValue":[{"color":"#008000","value":"true","valueType":"bool"}],"allowColorForValueInMessage":false,"shape":"circle","showGlow":true,"name":"Green LED","x":530,"y":480,"wires":[]},{"id":"83994513.0eced8","type":"ui_led","z":"ce607712.d56ad8","order":4,"group":"fefd588d.6ff448","width":6,"height":1,"label":"Malfunction  ","labelPlacement":"left","labelAlignment":"left","colorForValue":[{"color":"#ffff00","value":"true","valueType":"bool"}],"allowColorForValueInMessage":false,"shape":"circle","showGlow":true,"name":"Yellow LED","x":1370,"y":520,"wires":[]},{"id":"a858ef67.57a33","type":"ui_led","z":"ce607712.d56ad8","order":3,"group":"fefd588d.6ff448","width":6,"height":1,"label":"Calibrated ","labelPlacement":"left","labelAlignment":"left","colorForValue":[{"color":"#0000ff","value":"true","valueType":"bool"}],"allowColorForValueInMessage":false,"shape":"circle","showGlow":true,"name":"Blue LED","x":1360,"y":560,"wires":[]},{"id":"d76d07f9.820378","type":"ui_led","z":"ce607712.d56ad8","order":1,"group":"fefd588d.6ff448","width":6,"height":1,"label":"On-Line","labelPlacement":"left","labelAlignment":"left","colorForValue":[{"color":"#008000","value":"true","valueType":"bool"}],"allowColorForValueInMessage":false,"shape":"circle","showGlow":true,"name":"Green LED","x":1370,"y":480,"wires":[]},{"id":"543c1ee4.378e3","type":"ui_led","z":"ce607712.d56ad8","order":4,"group":"721e06c2.991668","width":6,"height":1,"label":"Malfunction  ","labelPlacement":"left","labelAlignment":"left","colorForValue":[{"color":"#ffff00","value":"true","valueType":"bool"}],"allowColorForValueInMessage":false,"shape":"circle","showGlow":true,"name":"Yellow LED","x":1370,"y":80,"wires":[]},{"id":"d0653f74.8f077","type":"ui_led","z":"ce607712.d56ad8","order":3,"group":"721e06c2.991668","width":6,"height":1,"label":"Calibrated ","labelPlacement":"left","labelAlignment":"left","colorForValue":[{"color":"#0000ff","value":"true","valueType":"bool"}],"allowColorForValueInMessage":false,"shape":"circle","showGlow":true,"name":"Blue LED","x":1360,"y":120,"wires":[]},{"id":"e3a434d0.170a48","type":"ui_led","z":"ce607712.d56ad8","order":1,"group":"721e06c2.991668","width":6,"height":1,"label":"On-Line","labelPlacement":"left","labelAlignment":"left","colorForValue":[{"color":"#008000","value":"true","valueType":"bool"}],"allowColorForValueInMessage":false,"shape":"circle","showGlow":true,"name":"Green LED","x":1370,"y":40,"wires":[]},{"id":"999105a4.e82118","type":"ui_led","z":"ce607712.d56ad8","order":4,"group":"c9f5b28a.635fa","width":6,"height":1,"label":"Malfunction  ","labelPlacement":"left","labelAlignment":"left","colorForValue":[{"color":"#ffff00","value":"true","valueType":"bool"}],"allowColorForValueInMessage":false,"shape":"circle","showGlow":true,"name":"Yellow LED","x":1370,"y":300,"wires":[]},{"id":"8a2fa20e.61fc2","type":"ui_led","z":"ce607712.d56ad8","order":3,"group":"c9f5b28a.635fa","width":6,"height":1,"label":"Calibrated ","labelPlacement":"left","labelAlignment":"left","colorForValue":[{"color":"#0000ff","value":"true","valueType":"bool"}],"allowColorForValueInMessage":false,"shape":"circle","showGlow":true,"name":"Blue LED","x":1360,"y":340,"wires":[]},{"id":"f504c3cd.7fd67","type":"ui_led","z":"ce607712.d56ad8","order":1,"group":"c9f5b28a.635fa","width":6,"height":1,"label":"On-Line","labelPlacement":"left","labelAlignment":"left","colorForValue":[{"color":"#008000","value":"true","valueType":"bool"}],"allowColorForValueInMessage":false,"shape":"circle","showGlow":true,"name":"Green LED","x":1370,"y":260,"wires":[]},{"id":"3310ca5e.95e296","type":"ui_chart","z":"ce607712.d56ad8","name":"","group":"ede6cdc2.9b866","order":2,"width":6,"height":3,"label":"Corruption Level","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"1","removeOlder":"5","removeOlderPoints":"","removeOlderUnit":"60","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":540,"y":600,"wires":[[]]},{"id":"43abd94b.ce3928","type":"ui_chart","z":"ce607712.d56ad8","name":"","group":"55acb186.2ed6a","order":2,"width":6,"height":3,"label":"Corruption Level","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"1","removeOlder":"5","removeOlderPoints":"","removeOlderUnit":"60","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":540,"y":380,"wires":[[]]},{"id":"a58a4daa.bd439","type":"ui_chart","z":"ce607712.d56ad8","name":"","group":"590ecc9d.73ddb4","order":2,"width":6,"height":3,"label":"Corruption Level","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"1","removeOlder":"5","removeOlderPoints":"","removeOlderUnit":"60","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":540,"y":160,"wires":[[]]},{"id":"f7c74c23.d590a","type":"ui_chart","z":"ce607712.d56ad8","name":"","group":"721e06c2.991668","order":2,"width":6,"height":3,"label":"Corruption Level","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"1","removeOlder":"5","removeOlderPoints":"","removeOlderUnit":"60","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":1380,"y":160,"wires":[[]]},{"id":"52128af.d2df474","type":"ui_chart","z":"ce607712.d56ad8","name":"","group":"c9f5b28a.635fa","order":2,"width":6,"height":3,"label":"Corruption Level","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"1","removeOlder":"5","removeOlderPoints":"","removeOlderUnit":"60","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":1380,"y":380,"wires":[[]]},{"id":"8e40acf9.bf215","type":"ui_chart","z":"ce607712.d56ad8","name":"","group":"fefd588d.6ff448","order":2,"width":6,"height":3,"label":"Corruption Level","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"1","removeOlder":"5","removeOlderPoints":"","removeOlderUnit":"60","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":1380,"y":600,"wires":[[]]},{"id":"79f1d2a0.9a5a0c","type":"switch","z":"4c9031d5.897f1","name":"d-out/B1/is-error","property":"topic","propertyType":"msg","rules":[{"t":"eq","v":"d-out/B1/is-error","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":390,"y":520,"wires":[["84f7fea0.5e7f3"]]},{"id":"485755aa.1d001c","type":"mqtt in","z":"ce607712.d56ad8","name":"","topic":"d-out/#","qos":"2","datatype":"auto","broker":"7338e8bb.63d7e8","nl":false,"rap":true,"rh":0,"x":770,"y":60,"wires":[["31b73ab1.31b546"]]},{"id":"31b73ab1.31b546","type":"json","z":"ce607712.d56ad8","name":"","property":"payload","action":"","pretty":false,"x":770,"y":120,"wires":[["d66cf8d0.0b2118","b49c5e30.31bec","e7b0d621.a8c878","73ceb239.41545c","f9587e1d.3255d","1f97f468.5ddc4c"]]},{"id":"9b90a87c.6f5488","type":"subflow:29edeaee.f89f06","z":"ce607712.d56ad8","name":"","env":[{"name":"ddd","value":"ddd222","type":"str"}],"x":290,"y":100,"wires":[["25298803.7c7cd8"],["62645282.d015fc"],["461d1b9e.9d6684"],["a58a4daa.bd439"],[]]},{"id":"b73c0d8f.7572c","type":"function","z":"29edeaee.f89f06","name":"Logic","func":"if (/.*\\/is-online$/.test(msg.topic)){\n    return [{ payload: Boolean(msg.payload) }, null, null, null, null];\n} else if (/.*\\/is-error$/.test(msg.topic)){\n    const error = Boolean(msg.payload);\n    const load = flow.get('load') || 0;\n    flow.set('error', error);\n    return [null, { payload: error }, { payload: !load && !error }, null, null];\n} else if (/.*\\/load$/.test(msg.topic)){\n    const load = msg.payload;\n    const error = flow.get('error') || false;\n    flow.set('load', load);\n    return [null, null, { payload: !load && !error }, { payload: load }, null];\n} else if (/.*\\/overload-threshold/.test(msg.topic)){\n    return [null, null, null, null, { payload: msg.payload }];\n} else {\n    return [null, null, null, null, null];\n}","outputs":5,"noerr":0,"initialize":"","finalize":"","libs":[],"x":330,"y":120,"wires":[[],[],[],[],[]]},{"id":"d66cf8d0.0b2118","type":"switch","z":"ce607712.d56ad8","name":"A1","property":"topic","propertyType":"msg","rules":[{"t":"regex","v":".*/A1/.*","vt":"str","case":false}],"checkall":"true","repair":false,"outputs":1,"x":150,"y":100,"wires":[["9b90a87c.6f5488"]]},{"id":"48cc71cd.e1303","type":"subflow:29edeaee.f89f06","z":"ce607712.d56ad8","name":"","env":[{"name":"ddd","value":"ddd222","type":"str"}],"x":290,"y":320,"wires":[["2c270879.9ca328"],["38ea1753.de8da8"],["28a9721b.ca26ce"],["43abd94b.ce3928"],[]]},{"id":"b49c5e30.31bec","type":"switch","z":"ce607712.d56ad8","name":"A2","property":"topic","propertyType":"msg","rules":[{"t":"regex","v":".*/A2/.*","vt":"str","case":false}],"checkall":"true","repair":false,"outputs":1,"x":150,"y":320,"wires":[["48cc71cd.e1303"]]},{"id":"26791440.c10efc","type":"subflow:29edeaee.f89f06","z":"ce607712.d56ad8","name":"","env":[{"name":"ddd","value":"ddd222","type":"str"}],"x":290,"y":520,"wires":[["2b894308.39d3dc"],["3b3ce226.6307ce"],["93075b8e.c9fea8"],["3310ca5e.95e296"],[]]},{"id":"e7b0d621.a8c878","type":"switch","z":"ce607712.d56ad8","name":"A3","property":"topic","propertyType":"msg","rules":[{"t":"regex","v":".*/A3/.*","vt":"str","case":false}],"checkall":"true","repair":false,"outputs":1,"x":150,"y":520,"wires":[["26791440.c10efc"]]},{"id":"a9a4f4ab.ac5788","type":"subflow:29edeaee.f89f06","z":"ce607712.d56ad8","name":"","env":[{"name":"ddd","value":"ddd222","type":"str"}],"x":1130,"y":100,"wires":[["e3a434d0.170a48"],["543c1ee4.378e3"],["d0653f74.8f077"],["f7c74c23.d590a"],[]]},{"id":"73ceb239.41545c","type":"switch","z":"ce607712.d56ad8","name":"B1","property":"topic","propertyType":"msg","rules":[{"t":"regex","v":".*/B1/.*","vt":"str","case":false}],"checkall":"true","repair":false,"outputs":1,"x":990,"y":100,"wires":[["a9a4f4ab.ac5788"]]},{"id":"76f671d.29d869","type":"subflow:29edeaee.f89f06","z":"ce607712.d56ad8","name":"","env":[{"name":"ddd","value":"ddd222","type":"str"}],"x":1130,"y":300,"wires":[["f504c3cd.7fd67"],["999105a4.e82118"],["8a2fa20e.61fc2"],["52128af.d2df474"],[]]},{"id":"f9587e1d.3255d","type":"switch","z":"ce607712.d56ad8","name":"B2","property":"topic","propertyType":"msg","rules":[{"t":"regex","v":".*/B2/.*","vt":"str","case":false}],"checkall":"true","repair":false,"outputs":1,"x":990,"y":300,"wires":[["76f671d.29d869"]]},{"id":"eade38c9.d6c9e8","type":"subflow:29edeaee.f89f06","z":"ce607712.d56ad8","name":"","env":[{"name":"ddd","value":"ddd222","type":"str"}],"x":1130,"y":540,"wires":[["d76d07f9.820378"],["83994513.0eced8"],["a858ef67.57a33"],["8e40acf9.bf215"],[]]},{"id":"1f97f468.5ddc4c","type":"switch","z":"ce607712.d56ad8","name":"B3","property":"topic","propertyType":"msg","rules":[{"t":"regex","v":".*/B3/.*","vt":"str","case":false}],"checkall":"true","repair":false,"outputs":1,"x":990,"y":540,"wires":[["eade38c9.d6c9e8"]]},{"id":"a349d03c.5555c","type":"ui_led","z":"108d6a9e.5ae535","order":4,"group":"b0e6a3c6.f153e","width":6,"height":1,"label":"Malfunction  ","labelPlacement":"left","labelAlignment":"left","colorForValue":[{"color":"#ffff00","value":"true","valueType":"bool"}],"allowColorForValueInMessage":false,"shape":"circle","showGlow":true,"name":"Yellow LED","x":690,"y":100,"wires":[]},{"id":"a8bfa364.8212c","type":"ui_led","z":"108d6a9e.5ae535","order":3,"group":"b0e6a3c6.f153e","width":6,"height":1,"label":"Calibrated ","labelPlacement":"left","labelAlignment":"left","colorForValue":[{"color":"#0000ff","value":"true","valueType":"bool"}],"allowColorForValueInMessage":false,"shape":"circle","showGlow":true,"name":"Blue LED","x":680,"y":140,"wires":[]},{"id":"ddb4c7ac.a7ad78","type":"ui_led","z":"108d6a9e.5ae535","order":1,"group":"b0e6a3c6.f153e","width":6,"height":1,"label":"On-Line","labelPlacement":"left","labelAlignment":"left","colorForValue":[{"color":"#008000","value":"true","valueType":"bool"}],"allowColorForValueInMessage":false,"shape":"circle","showGlow":true,"name":"Green LED","x":690,"y":60,"wires":[]},{"id":"77774005.80c5b","type":"ui_chart","z":"108d6a9e.5ae535","name":"","group":"b0e6a3c6.f153e","order":2,"width":6,"height":3,"label":"Corruption Level","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"1","removeOlder":"5","removeOlderPoints":"","removeOlderUnit":"60","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":700,"y":180,"wires":[[]]},{"id":"c876da9b.f37d28","type":"mqtt in","z":"108d6a9e.5ae535","name":"","topic":"d-out/#","qos":"2","datatype":"auto","broker":"7338e8bb.63d7e8","nl":false,"rap":true,"rh":0,"x":910,"y":460,"wires":[["f2169720.630a78"]]},{"id":"f2169720.630a78","type":"json","z":"108d6a9e.5ae535","name":"","property":"payload","action":"","pretty":false,"x":910,"y":520,"wires":[["94cc252a.3a37c8","ba7cbb97.f0a7a8","33b610e2.c94b2","c4316a8b.68dcc8","32434990.f5e746","6a5a8932.568528"]]},{"id":"bcb1a1e4.bd77a","type":"subflow:29edeaee.f89f06","z":"108d6a9e.5ae535","name":"","env":[{"name":"ddd","value":"ddd222","type":"str"}],"x":510,"y":160,"wires":[["ddb4c7ac.a7ad78"],["a349d03c.5555c"],["a8bfa364.8212c"],["77774005.80c5b"],["a4de6dc3.d81a7"]]},{"id":"94cc252a.3a37c8","type":"switch","z":"108d6a9e.5ae535","name":"A1","property":"topic","propertyType":"msg","rules":[{"t":"regex","v":".*/A1/.*","vt":"str","case":false}],"checkall":"true","repair":false,"outputs":1,"x":510,"y":60,"wires":[["bcb1a1e4.bd77a"]]},{"id":"71203ddc.50ce14","type":"template","z":"108d6a9e.5ae535","name":"d-in/...","field":"topic","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"d-in/{{panelId}}/{{command}}","output":"str","x":910,"y":180,"wires":[["750049dc.5290a8"]]},{"id":"750049dc.5290a8","type":"mqtt out","z":"108d6a9e.5ae535","name":"","topic":"","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"7338e8bb.63d7e8","x":910,"y":140,"wires":[]},{"id":"49941e7.b21a4e","type":"change","z":"108d6a9e.5ae535","name":"A1","rules":[{"t":"set","p":"panelId","pt":"msg","to":"A1","tot":"str"},{"t":"set","p":"command","pt":"msg","to":"topic","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":510,"y":100,"wires":[["71203ddc.50ce14"]]},{"id":"591107fd.b0f388","type":"ui_button","z":"108d6a9e.5ae535","name":"","group":"d954ccd6.e8c9e","order":5,"width":3,"height":1,"passthru":false,"label":"On","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"start-up","topicType":"str","x":330,"y":300,"wires":[["5d1114ee.0e8b9c"]]},{"id":"11a52124.afaf4f","type":"ui_button","z":"108d6a9e.5ae535","name":"","group":"d954ccd6.e8c9e","order":6,"width":3,"height":1,"passthru":false,"label":"Off","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"shut-down","topicType":"str","x":330,"y":340,"wires":[["5d1114ee.0e8b9c"]]},{"id":"35edaefb.7d6b42","type":"ui_slider","z":"108d6a9e.5ae535","name":"","label":"Threshold","tooltip":"","group":"d954ccd6.e8c9e","order":10,"width":12,"height":1,"passthru":false,"outs":"end","topic":"overload-threshold","topicType":"str","min":0,"max":"1","step":"0.01","x":520,"y":460,"wires":[["5d1114ee.0e8b9c"]]},{"id":"187fd279.561f3e","type":"ui_button","z":"108d6a9e.5ae535","name":"","group":"d954ccd6.e8c9e","order":8,"width":2,"height":1,"passthru":false,"label":"Clear","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"reset-load","topicType":"str","x":330,"y":380,"wires":[["5d1114ee.0e8b9c"]]},{"id":"6b11208d.9b846","type":"ui_button","z":"108d6a9e.5ae535","name":"","group":"d954ccd6.e8c9e","order":9,"width":2,"height":1,"passthru":false,"label":"Error","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"complex-error","topicType":"str","x":330,"y":420,"wires":[["5d1114ee.0e8b9c"]]},{"id":"6a8bfc34.5fe2d4","type":"ui_button","z":"108d6a9e.5ae535","name":"","group":"d954ccd6.e8c9e","order":7,"width":2,"height":1,"passthru":false,"label":"Fix All","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"fix-everything","topicType":"str","x":330,"y":460,"wires":[["5d1114ee.0e8b9c"]]},{"id":"3d94405.83578c","type":"ui_led","z":"108d6a9e.5ae535","order":4,"group":"d954ccd6.e8c9e","width":6,"height":1,"label":"Malfunction  ","labelPlacement":"left","labelAlignment":"left","colorForValue":[{"color":"#ffff00","value":"true","valueType":"bool"}],"allowColorForValueInMessage":false,"shape":"circle","showGlow":true,"name":"Yellow LED","x":690,"y":340,"wires":[]},{"id":"3a8e2ca8.7eb244","type":"ui_led","z":"108d6a9e.5ae535","order":3,"group":"d954ccd6.e8c9e","width":6,"height":1,"label":"Calibrated ","labelPlacement":"left","labelAlignment":"left","colorForValue":[{"color":"#0000ff","value":"true","valueType":"bool"}],"allowColorForValueInMessage":false,"shape":"circle","showGlow":true,"name":"Blue LED","x":680,"y":380,"wires":[]},{"id":"1ea18850.cf5708","type":"ui_led","z":"108d6a9e.5ae535","order":1,"group":"d954ccd6.e8c9e","width":6,"height":1,"label":"On-Line","labelPlacement":"left","labelAlignment":"left","colorForValue":[{"color":"#008000","value":"true","valueType":"bool"}],"allowColorForValueInMessage":false,"shape":"circle","showGlow":true,"name":"Green LED","x":690,"y":300,"wires":[]},{"id":"e0716588.dd3578","type":"ui_chart","z":"108d6a9e.5ae535","name":"","group":"d954ccd6.e8c9e","order":2,"width":6,"height":3,"label":"Corruption Level","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"1","removeOlder":"5","removeOlderPoints":"","removeOlderUnit":"60","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":700,"y":420,"wires":[[]]},{"id":"91d874de.7ff418","type":"subflow:29edeaee.f89f06","z":"108d6a9e.5ae535","name":"","env":[{"name":"ddd","value":"ddd222","type":"str"}],"x":510,"y":400,"wires":[["1ea18850.cf5708"],["3d94405.83578c"],["3a8e2ca8.7eb244"],["e0716588.dd3578"],["35edaefb.7d6b42"]]},{"id":"ba7cbb97.f0a7a8","type":"switch","z":"108d6a9e.5ae535","name":"A2","property":"topic","propertyType":"msg","rules":[{"t":"regex","v":".*/A2/.*","vt":"str","case":false}],"checkall":"true","repair":false,"outputs":1,"x":510,"y":300,"wires":[["91d874de.7ff418"]]},{"id":"5d1114ee.0e8b9c","type":"change","z":"108d6a9e.5ae535","name":"A2","rules":[{"t":"set","p":"panelId","pt":"msg","to":"A2","tot":"str"},{"t":"set","p":"command","pt":"msg","to":"topic","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":510,"y":340,"wires":[["71203ddc.50ce14"]]},{"id":"bb092ee9.827c3","type":"ui_button","z":"108d6a9e.5ae535","name":"","group":"656b2b59.e10e14","order":5,"width":3,"height":1,"passthru":false,"label":"On","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"start-up","topicType":"str","x":330,"y":540,"wires":[["f76b3645.e447d8"]]},{"id":"9d385a87.1727f8","type":"ui_button","z":"108d6a9e.5ae535","name":"","group":"656b2b59.e10e14","order":6,"width":3,"height":1,"passthru":false,"label":"Off","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"shut-down","topicType":"str","x":330,"y":580,"wires":[["f76b3645.e447d8"]]},{"id":"6565ca87.43f5d4","type":"ui_slider","z":"108d6a9e.5ae535","name":"","label":"Threshold","tooltip":"","group":"656b2b59.e10e14","order":10,"width":12,"height":1,"passthru":false,"outs":"end","topic":"overload-threshold","topicType":"str","min":0,"max":"1","step":"0.01","x":520,"y":700,"wires":[["f76b3645.e447d8"]]},{"id":"4256c574.d3fbbc","type":"ui_button","z":"108d6a9e.5ae535","name":"","group":"656b2b59.e10e14","order":8,"width":2,"height":1,"passthru":false,"label":"Clear","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"reset-load","topicType":"str","x":330,"y":620,"wires":[["f76b3645.e447d8"]]},{"id":"738c1eaa.0a798","type":"ui_button","z":"108d6a9e.5ae535","name":"","group":"656b2b59.e10e14","order":9,"width":2,"height":1,"passthru":false,"label":"Error","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"complex-error","topicType":"str","x":330,"y":660,"wires":[["f76b3645.e447d8"]]},{"id":"18dfe052.f1671","type":"ui_button","z":"108d6a9e.5ae535","name":"","group":"656b2b59.e10e14","order":7,"width":2,"height":1,"passthru":false,"label":"Fix All","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"fix-everything","topicType":"str","x":330,"y":700,"wires":[["f76b3645.e447d8"]]},{"id":"86ff43db.d211d","type":"ui_led","z":"108d6a9e.5ae535","order":4,"group":"656b2b59.e10e14","width":6,"height":1,"label":"Malfunction  ","labelPlacement":"left","labelAlignment":"left","colorForValue":[{"color":"#ffff00","value":"true","valueType":"bool"}],"allowColorForValueInMessage":false,"shape":"circle","showGlow":true,"name":"Yellow LED","x":690,"y":580,"wires":[]},{"id":"140c8115.44cecf","type":"ui_led","z":"108d6a9e.5ae535","order":3,"group":"656b2b59.e10e14","width":6,"height":1,"label":"Calibrated ","labelPlacement":"left","labelAlignment":"left","colorForValue":[{"color":"#0000ff","value":"true","valueType":"bool"}],"allowColorForValueInMessage":false,"shape":"circle","showGlow":true,"name":"Blue LED","x":680,"y":620,"wires":[]},{"id":"b32d5244.0a869","type":"ui_led","z":"108d6a9e.5ae535","order":1,"group":"656b2b59.e10e14","width":6,"height":1,"label":"On-Line","labelPlacement":"left","labelAlignment":"left","colorForValue":[{"color":"#008000","value":"true","valueType":"bool"}],"allowColorForValueInMessage":false,"shape":"circle","showGlow":true,"name":"Green LED","x":690,"y":540,"wires":[]},{"id":"a5782405.0dd1a8","type":"ui_chart","z":"108d6a9e.5ae535","name":"","group":"656b2b59.e10e14","order":2,"width":6,"height":3,"label":"Corruption Level","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"1","removeOlder":"5","removeOlderPoints":"","removeOlderUnit":"60","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":700,"y":660,"wires":[[]]},{"id":"e63095e0.e5a0a8","type":"subflow:29edeaee.f89f06","z":"108d6a9e.5ae535","name":"","env":[{"name":"ddd","value":"ddd222","type":"str"}],"x":510,"y":640,"wires":[["b32d5244.0a869"],["86ff43db.d211d"],["140c8115.44cecf"],["a5782405.0dd1a8"],["6565ca87.43f5d4"]]},{"id":"33b610e2.c94b2","type":"switch","z":"108d6a9e.5ae535","name":"A3","property":"topic","propertyType":"msg","rules":[{"t":"regex","v":".*/A3/.*","vt":"str","case":false}],"checkall":"true","repair":false,"outputs":1,"x":510,"y":540,"wires":[["e63095e0.e5a0a8"]]},{"id":"f76b3645.e447d8","type":"change","z":"108d6a9e.5ae535","name":"A3","rules":[{"t":"set","p":"panelId","pt":"msg","to":"A3","tot":"str"},{"t":"set","p":"command","pt":"msg","to":"topic","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":510,"y":580,"wires":[["71203ddc.50ce14"]]},{"id":"a62ff0f9.5ef38","type":"ui_button","z":"108d6a9e.5ae535","name":"","group":"742353f3.04962c","order":5,"width":3,"height":1,"passthru":false,"label":"On","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"start-up","topicType":"str","x":1170,"y":40,"wires":[["a5164240.9e7cd"]]},{"id":"e2efb061.e404d","type":"ui_button","z":"108d6a9e.5ae535","name":"","group":"742353f3.04962c","order":6,"width":3,"height":1,"passthru":false,"label":"Off","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"shut-down","topicType":"str","x":1170,"y":80,"wires":[["a5164240.9e7cd"]]},{"id":"d6ee8f24.86ed3","type":"ui_slider","z":"108d6a9e.5ae535","name":"","label":"Threshold","tooltip":"","group":"742353f3.04962c","order":10,"width":12,"height":1,"passthru":false,"outs":"end","topic":"overload-threshold","topicType":"str","min":0,"max":"1","step":"0.01","x":1360,"y":200,"wires":[["a5164240.9e7cd"]]},{"id":"b8fbff1a.3cb8d","type":"ui_button","z":"108d6a9e.5ae535","name":"","group":"742353f3.04962c","order":8,"width":2,"height":1,"passthru":false,"label":"Clear","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"reset-load","topicType":"str","x":1170,"y":120,"wires":[["a5164240.9e7cd"]]},{"id":"f31a893a.2c81b8","type":"ui_button","z":"108d6a9e.5ae535","name":"","group":"742353f3.04962c","order":9,"width":2,"height":1,"passthru":false,"label":"Error","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"complex-error","topicType":"str","x":1170,"y":160,"wires":[["a5164240.9e7cd"]]},{"id":"fa1b2d63.fae1e","type":"ui_button","z":"108d6a9e.5ae535","name":"","group":"742353f3.04962c","order":7,"width":2,"height":1,"passthru":false,"label":"Fix All","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"fix-everything","topicType":"str","x":1170,"y":200,"wires":[["a5164240.9e7cd"]]},{"id":"cf68c0c.e16344","type":"ui_led","z":"108d6a9e.5ae535","order":4,"group":"742353f3.04962c","width":6,"height":1,"label":"Malfunction  ","labelPlacement":"left","labelAlignment":"left","colorForValue":[{"color":"#ffff00","value":"true","valueType":"bool"}],"allowColorForValueInMessage":false,"shape":"circle","showGlow":true,"name":"Yellow LED","x":1530,"y":80,"wires":[]},{"id":"eafbc099.c3beb","type":"ui_led","z":"108d6a9e.5ae535","order":3,"group":"742353f3.04962c","width":6,"height":1,"label":"Calibrated ","labelPlacement":"left","labelAlignment":"left","colorForValue":[{"color":"#0000ff","value":"true","valueType":"bool"}],"allowColorForValueInMessage":false,"shape":"circle","showGlow":true,"name":"Blue LED","x":1520,"y":120,"wires":[]},{"id":"75e7265b.16ad08","type":"ui_led","z":"108d6a9e.5ae535","order":1,"group":"742353f3.04962c","width":6,"height":1,"label":"On-Line","labelPlacement":"left","labelAlignment":"left","colorForValue":[{"color":"#008000","value":"true","valueType":"bool"}],"allowColorForValueInMessage":false,"shape":"circle","showGlow":true,"name":"Green LED","x":1530,"y":40,"wires":[]},{"id":"c0a10ebf.baaec","type":"ui_chart","z":"108d6a9e.5ae535","name":"","group":"742353f3.04962c","order":2,"width":6,"height":3,"label":"Corruption Level","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"1","removeOlder":"5","removeOlderPoints":"","removeOlderUnit":"60","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":1540,"y":160,"wires":[[]]},{"id":"4106a3e9.409c8c","type":"subflow:29edeaee.f89f06","z":"108d6a9e.5ae535","name":"","env":[{"name":"ddd","value":"ddd222","type":"str"}],"x":1350,"y":140,"wires":[["75e7265b.16ad08"],["cf68c0c.e16344"],["eafbc099.c3beb"],["c0a10ebf.baaec"],["d6ee8f24.86ed3"]]},{"id":"c4316a8b.68dcc8","type":"switch","z":"108d6a9e.5ae535","name":"B1","property":"topic","propertyType":"msg","rules":[{"t":"regex","v":".*/B1/.*","vt":"str","case":false}],"checkall":"true","repair":false,"outputs":1,"x":1350,"y":40,"wires":[["4106a3e9.409c8c"]]},{"id":"a5164240.9e7cd","type":"change","z":"108d6a9e.5ae535","name":"B1","rules":[{"t":"set","p":"panelId","pt":"msg","to":"B1","tot":"str"},{"t":"set","p":"command","pt":"msg","to":"topic","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1350,"y":80,"wires":[["71203ddc.50ce14"]]},{"id":"cf08cfe0.19f12","type":"ui_button","z":"108d6a9e.5ae535","name":"","group":"546b365.035b7c8","order":5,"width":3,"height":1,"passthru":false,"label":"On","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"start-up","topicType":"str","x":1170,"y":300,"wires":[["b57bf2e9.cb0c9"]]},{"id":"f52bc67e.d693d8","type":"ui_button","z":"108d6a9e.5ae535","name":"","group":"546b365.035b7c8","order":6,"width":3,"height":1,"passthru":false,"label":"Off","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"shut-down","topicType":"str","x":1170,"y":340,"wires":[["b57bf2e9.cb0c9"]]},{"id":"33d22c14.ae9f04","type":"ui_slider","z":"108d6a9e.5ae535","name":"","label":"Threshold","tooltip":"","group":"546b365.035b7c8","order":10,"width":12,"height":1,"passthru":false,"outs":"end","topic":"overload-threshold","topicType":"str","min":0,"max":"1","step":"0.01","x":1360,"y":460,"wires":[["b57bf2e9.cb0c9"]]},{"id":"8d806c97.664aa","type":"ui_button","z":"108d6a9e.5ae535","name":"","group":"546b365.035b7c8","order":8,"width":2,"height":1,"passthru":false,"label":"Clear","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"reset-load","topicType":"str","x":1170,"y":380,"wires":[["b57bf2e9.cb0c9"]]},{"id":"d5bb2cd7.fcab8","type":"ui_button","z":"108d6a9e.5ae535","name":"","group":"546b365.035b7c8","order":9,"width":2,"height":1,"passthru":false,"label":"Error","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"complex-error","topicType":"str","x":1170,"y":420,"wires":[["b57bf2e9.cb0c9"]]},{"id":"f733855e.1a9ed8","type":"ui_button","z":"108d6a9e.5ae535","name":"","group":"546b365.035b7c8","order":7,"width":2,"height":1,"passthru":false,"label":"Fix All","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"fix-everything","topicType":"str","x":1170,"y":460,"wires":[["b57bf2e9.cb0c9"]]},{"id":"3287ee20.ec25b2","type":"ui_led","z":"108d6a9e.5ae535","order":4,"group":"546b365.035b7c8","width":6,"height":1,"label":"Malfunction  ","labelPlacement":"left","labelAlignment":"left","colorForValue":[{"color":"#ffff00","value":"true","valueType":"bool"}],"allowColorForValueInMessage":false,"shape":"circle","showGlow":true,"name":"Yellow LED","x":1530,"y":340,"wires":[]},{"id":"157861a2.8357ae","type":"ui_led","z":"108d6a9e.5ae535","order":3,"group":"546b365.035b7c8","width":6,"height":1,"label":"Calibrated ","labelPlacement":"left","labelAlignment":"left","colorForValue":[{"color":"#0000ff","value":"true","valueType":"bool"}],"allowColorForValueInMessage":false,"shape":"circle","showGlow":true,"name":"Blue LED","x":1520,"y":380,"wires":[]},{"id":"e19b054.be3e9f8","type":"ui_led","z":"108d6a9e.5ae535","order":1,"group":"546b365.035b7c8","width":6,"height":1,"label":"On-Line","labelPlacement":"left","labelAlignment":"left","colorForValue":[{"color":"#008000","value":"true","valueType":"bool"}],"allowColorForValueInMessage":false,"shape":"circle","showGlow":true,"name":"Green LED","x":1530,"y":300,"wires":[]},{"id":"9afbe26.931502","type":"ui_chart","z":"108d6a9e.5ae535","name":"","group":"546b365.035b7c8","order":2,"width":6,"height":3,"label":"Corruption Level","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"1","removeOlder":"5","removeOlderPoints":"","removeOlderUnit":"60","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":1540,"y":420,"wires":[[]]},{"id":"f3f89fe8.a92be","type":"subflow:29edeaee.f89f06","z":"108d6a9e.5ae535","name":"","env":[{"name":"ddd","value":"ddd222","type":"str"}],"x":1350,"y":400,"wires":[["e19b054.be3e9f8"],["3287ee20.ec25b2"],["157861a2.8357ae"],["9afbe26.931502"],["33d22c14.ae9f04"]]},{"id":"32434990.f5e746","type":"switch","z":"108d6a9e.5ae535","name":"B2","property":"topic","propertyType":"msg","rules":[{"t":"regex","v":".*/B2/.*","vt":"str","case":false}],"checkall":"true","repair":false,"outputs":1,"x":1350,"y":300,"wires":[["f3f89fe8.a92be"]]},{"id":"b57bf2e9.cb0c9","type":"change","z":"108d6a9e.5ae535","name":"B2","rules":[{"t":"set","p":"panelId","pt":"msg","to":"B2","tot":"str"},{"t":"set","p":"command","pt":"msg","to":"topic","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1350,"y":340,"wires":[["71203ddc.50ce14"]]},{"id":"25d21f53.15f96","type":"ui_button","z":"108d6a9e.5ae535","name":"","group":"dbfae9f1.9a0228","order":5,"width":3,"height":1,"passthru":false,"label":"On","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"start-up","topicType":"str","x":1170,"y":520,"wires":[["3abb4d7b.6d79d2"]]},{"id":"bc263e84.61483","type":"ui_button","z":"108d6a9e.5ae535","name":"","group":"dbfae9f1.9a0228","order":6,"width":3,"height":1,"passthru":false,"label":"Off","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"shut-down","topicType":"str","x":1170,"y":560,"wires":[["3abb4d7b.6d79d2"]]},{"id":"ef4ff8ed.87dbd8","type":"ui_slider","z":"108d6a9e.5ae535","name":"","label":"Threshold","tooltip":"","group":"dbfae9f1.9a0228","order":10,"width":12,"height":1,"passthru":false,"outs":"end","topic":"overload-threshold","topicType":"str","min":0,"max":"1","step":"0.01","x":1360,"y":680,"wires":[["3abb4d7b.6d79d2"]]},{"id":"8d564bbc.f1f268","type":"ui_button","z":"108d6a9e.5ae535","name":"","group":"dbfae9f1.9a0228","order":8,"width":2,"height":1,"passthru":false,"label":"Clear","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"reset-load","topicType":"str","x":1170,"y":600,"wires":[["3abb4d7b.6d79d2"]]},{"id":"ef26251a.902898","type":"ui_button","z":"108d6a9e.5ae535","name":"","group":"dbfae9f1.9a0228","order":9,"width":2,"height":1,"passthru":false,"label":"Error","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"complex-error","topicType":"str","x":1170,"y":640,"wires":[["3abb4d7b.6d79d2"]]},{"id":"c2867142.29d75","type":"ui_button","z":"108d6a9e.5ae535","name":"","group":"dbfae9f1.9a0228","order":7,"width":2,"height":1,"passthru":false,"label":"Fix All","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"fix-everything","topicType":"str","x":1170,"y":680,"wires":[["3abb4d7b.6d79d2"]]},{"id":"c639ebd7.6d18e8","type":"ui_led","z":"108d6a9e.5ae535","order":4,"group":"dbfae9f1.9a0228","width":6,"height":1,"label":"Malfunction  ","labelPlacement":"left","labelAlignment":"left","colorForValue":[{"color":"#ffff00","value":"true","valueType":"bool"}],"allowColorForValueInMessage":false,"shape":"circle","showGlow":true,"name":"Yellow LED","x":1530,"y":560,"wires":[]},{"id":"12365c2e.015344","type":"ui_led","z":"108d6a9e.5ae535","order":3,"group":"dbfae9f1.9a0228","width":6,"height":1,"label":"Calibrated ","labelPlacement":"left","labelAlignment":"left","colorForValue":[{"color":"#0000ff","value":"true","valueType":"bool"}],"allowColorForValueInMessage":false,"shape":"circle","showGlow":true,"name":"Blue LED","x":1520,"y":600,"wires":[]},{"id":"1ede0596.84d2ca","type":"ui_led","z":"108d6a9e.5ae535","order":1,"group":"dbfae9f1.9a0228","width":6,"height":1,"label":"On-Line","labelPlacement":"left","labelAlignment":"left","colorForValue":[{"color":"#008000","value":"true","valueType":"bool"}],"allowColorForValueInMessage":false,"shape":"circle","showGlow":true,"name":"Green LED","x":1530,"y":520,"wires":[]},{"id":"899ab10b.5c42d","type":"ui_chart","z":"108d6a9e.5ae535","name":"","group":"dbfae9f1.9a0228","order":2,"width":6,"height":3,"label":"Corruption Level","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"1","removeOlder":"5","removeOlderPoints":"","removeOlderUnit":"60","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":1540,"y":640,"wires":[[]]},{"id":"edb59d32.c00a5","type":"subflow:29edeaee.f89f06","z":"108d6a9e.5ae535","name":"","env":[{"name":"ddd","value":"ddd222","type":"str"}],"x":1350,"y":620,"wires":[["1ede0596.84d2ca"],["c639ebd7.6d18e8"],["12365c2e.015344"],["899ab10b.5c42d"],["ef4ff8ed.87dbd8"]]},{"id":"6a5a8932.568528","type":"switch","z":"108d6a9e.5ae535","name":"B3","property":"topic","propertyType":"msg","rules":[{"t":"regex","v":".*/B3/.*","vt":"str","case":false}],"checkall":"true","repair":false,"outputs":1,"x":1350,"y":520,"wires":[["edb59d32.c00a5"]]},{"id":"3abb4d7b.6d79d2","type":"change","z":"108d6a9e.5ae535","name":"B3","rules":[{"t":"set","p":"panelId","pt":"msg","to":"B3","tot":"str"},{"t":"set","p":"command","pt":"msg","to":"topic","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1350,"y":560,"wires":[["71203ddc.50ce14"]]}]