docker/node-red/data/.flows.json.backup
[{"id":"4c9031d5.897f1","type":"tab","label":"Daedalus input","disabled":false,"info":"send events to Daedalus"},{"id":"108d6a9e.5ae535","type":"tab","label":"GM Panel","disabled":false,"info":""},{"id":"ce607712.d56ad8","type":"tab","label":"Player Panel","disabled":false,"info":""},{"id":"7338e8bb.63d7e8","type":"mqtt-broker","name":"","broker":"mqtt","port":"1883","clientid":"","usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"sessionExpiry":""},{"id":"b0e6a3c6.f153e","type":"ui_group","name":"A1","tab":"51849739.bc8348","order":3,"disp":true,"width":"12","collapse":false},{"id":"51849739.bc8348","type":"ui_tab","name":"Panel GM","icon":"dashboard","order":7,"disabled":false,"hidden":false},{"id":"765ce42a.705a7c","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey","palette":"light"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"590ecc9d.73ddb4","type":"ui_group","name":"A1","tab":"ea88cca2.dbc18","order":1,"disp":true,"width":"12","collapse":false},{"id":"55acb186.2ed6a","type":"ui_group","name":"A2","tab":"ea88cca2.dbc18","order":2,"disp":true,"width":"12","collapse":false},{"id":"ede6cdc2.9b866","type":"ui_group","name":"A3","tab":"ea88cca2.dbc18","order":3,"disp":true,"width":"12","collapse":false},{"id":"fefd588d.6ff448","type":"ui_group","name":"B3","tab":"ea88cca2.dbc18","order":6,"disp":true,"width":"12","collapse":false},{"id":"721e06c2.991668","type":"ui_group","name":"B1","tab":"ea88cca2.dbc18","order":4,"disp":true,"width":"12","collapse":false},{"id":"c9f5b28a.635fa","type":"ui_group","name":"B2","tab":"ea88cca2.dbc18","order":5,"disp":true,"width":"12","collapse":false},{"id":"ea88cca2.dbc18","type":"ui_tab","name":"Panel ECR","icon":"dashboard","order":8,"disabled":false,"hidden":false},{"id":"d8a247d1.ba1af8","type":"inject","z":"4c9031d5.897f1","name":"A1","props":[{"p":"panelId","v":"A1","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","x":110,"y":80,"wires":[["52e5160e.7a0cb8"]]},{"id":"422b4c53.0de284","type":"http request","z":"4c9031d5.897f1","name":"Fix Everything","method":"GET","ret":"txt","paytoqs":"ignore","url":"http://{{host}}:56667/fixeverything/{{panelId}}","tls":"","persist":false,"proxy":"","authType":"","x":660,"y":80,"wires":[["93ec6a22.588028"]]},{"id":"93ec6a22.588028","type":"debug","z":"4c9031d5.897f1","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":870,"y":80,"wires":[]},{"id":"ab65bd4.ad5424","type":"inject","z":"4c9031d5.897f1","name":"A2","props":[{"p":"panelId","v":"A2","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","x":110,"y":140,"wires":[["52e5160e.7a0cb8"]]},{"id":"4fe4c92.693f938","type":"inject","z":"4c9031d5.897f1","name":"A3","props":[{"p":"panelId","v":"A3","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","x":110,"y":200,"wires":[["52e5160e.7a0cb8"]]},{"id":"d1451bbe.48d298","type":"inject","z":"4c9031d5.897f1","name":"B1","props":[{"p":"panelId","v":"B1","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","x":250,"y":40,"wires":[["52e5160e.7a0cb8"]]},{"id":"cd42ba32.25cd28","type":"inject","z":"4c9031d5.897f1","name":"B2","props":[{"p":"panelId","v":"B2","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","x":250,"y":100,"wires":[["52e5160e.7a0cb8"]]},{"id":"9a3b1b0c.df2e48","type":"inject","z":"4c9031d5.897f1","name":"B3","props":[{"p":"panelId","v":"B3","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","x":250,"y":160,"wires":[["52e5160e.7a0cb8"]]},{"id":"52e5160e.7a0cb8","type":"template","z":"4c9031d5.897f1","name":"host","field":"host","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"${DAEDALUS_HOST}","output":"str","x":490,"y":80,"wires":[["422b4c53.0de284"]]},{"id":"ea079615.361508","type":"udp out","z":"4c9031d5.897f1","name":"UDP 57121","addr":"${DAEDALUS_HOST}","iface":"","port":"57121","ipv":"udp4","outport":"","base64":false,"multicast":"false","x":870,"y":280,"wires":[]},{"id":"9acc32ed.bc6ad","type":"osc","z":"4c9031d5.897f1","name":"","path":"","metadata":false,"x":690,"y":280,"wires":[["ea079615.361508"]]},{"id":"7a59bc14.aca874","type":"inject","z":"4c9031d5.897f1","name":"fix-everything : A1","props":[{"p":"panelId","v":"A1","vt":"str"},{"p":"command","v":"fix-everything","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","x":150,"y":280,"wires":[["947de0e7.506cf"]]},{"id":"26d41833.e07ac8","type":"inject","z":"4c9031d5.897f1","name":"complex-error : B1","props":[{"p":"panelId","v":"B1","vt":"str"},{"p":"command","v":"complex-error","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","x":150,"y":340,"wires":[["947de0e7.506cf"]]},{"id":"947de0e7.506cf","type":"template","z":"4c9031d5.897f1","name":"address","field":"topic","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"d-in/{{panelId}}/{{command}}","output":"str","x":500,"y":280,"wires":[["8509d41d.a89a28"]]},{"id":"e767bf8a.6b85d","type":"mqtt out","z":"4c9031d5.897f1","name":"","topic":"","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"7338e8bb.63d7e8","x":770,"y":400,"wires":[]},{"id":"7c014fdc.4c48","type":"mqtt in","z":"4c9031d5.897f1","name":"all MQTT traffic","topic":"#","qos":"2","datatype":"auto","broker":"7338e8bb.63d7e8","nl":false,"rap":true,"rh":0,"x":130,"y":500,"wires":[["79f1d2a0.9a5a0c"]]},{"id":"84f7fea0.5e7f3","type":"debug","z":"4c9031d5.897f1","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":730,"y":520,"wires":[]},{"id":"8509d41d.a89a28","type":"change","z":"4c9031d5.897f1","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"{}","tot":"json"}],"action":"","property":"","from":"","to":"","reg":false,"x":560,"y":380,"wires":[["e767bf8a.6b85d"]]},{"id":"767b8e4.4b3607","type":"ui_button","z":"108d6a9e.5ae535","name":"","group":"b0e6a3c6.f153e","order":2,"width":6,"height":1,"passthru":false,"label":"Turn On","tooltip":"","color":"green","bgcolor":"","icon":"","payload":"on","payloadType":"str","topic":"topic","topicType":"msg","x":100,"y":40,"wires":[["fb06c89e.8706a8"]]},{"id":"dd5aa537.e751e8","type":"ui_button","z":"108d6a9e.5ae535","name":"","group":"b0e6a3c6.f153e","order":4,"width":6,"height":1,"passthru":false,"label":"Turn Off","tooltip":"","color":"red","bgcolor":"","icon":"","payload":"off","payloadType":"str","topic":"topic","topicType":"msg","x":100,"y":80,"wires":[["fb06c89e.8706a8"]]},{"id":"fb06c89e.8706a8","type":"mqtt out","z":"108d6a9e.5ae535","name":"Outbound A1","topic":"/d/repairs/A1/","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"7338e8bb.63d7e8","x":710,"y":80,"wires":[]},{"id":"a4de6dc3.d81a7","type":"ui_slider","z":"108d6a9e.5ae535","name":"Corruption Limit","label":"Corruption Limit","tooltip":"","group":"b0e6a3c6.f153e","order":10,"width":6,"height":1,"passthru":true,"outs":"end","topic":"topic","topicType":"msg","min":0,"max":"100","step":1,"x":120,"y":240,"wires":[["fb06c89e.8706a8"]]},{"id":"d0b8f817.f3b858","type":"ui_gauge","z":"108d6a9e.5ae535","name":"Current Corruption","group":"b0e6a3c6.f153e","order":7,"width":6,"height":3,"gtype":"gage","title":"Current Corruption","label":"Corruption","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":370,"y":280,"wires":[]},{"id":"43e4092d.038e68","type":"inject","z":"108d6a9e.5ae535","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"50","payloadType":"num","x":110,"y":280,"wires":[["d0b8f817.f3b858"]]},{"id":"abf70297.8f8cd","type":"ui_button","z":"108d6a9e.5ae535","name":"Error","group":"b0e6a3c6.f153e","order":6,"width":6,"height":1,"passthru":false,"label":"Error","tooltip":"","color":"Yellow","bgcolor":"","icon":"","payload":"Error","payloadType":"str","topic":"topic","topicType":"msg","x":90,"y":120,"wires":[["fb06c89e.8706a8"]]},{"id":"6167e310.febbfc","type":"ui_button","z":"108d6a9e.5ae535","name":"Complex Error","group":"b0e6a3c6.f153e","order":8,"width":6,"height":1,"passthru":false,"label":"Complex Error","tooltip":"","color":"Black","bgcolor":"","icon":"","payload":"ComplexError","payloadType":"str","topic":"topic","topicType":"msg","x":120,"y":160,"wires":[["fb06c89e.8706a8"]]},{"id":"2d60d31a.ceb40c","type":"ui_button","z":"108d6a9e.5ae535","name":"Fix All","group":"b0e6a3c6.f153e","order":9,"width":6,"height":1,"passthru":false,"label":"Fix All","tooltip":"","color":"Blue","bgcolor":"","icon":"","payload":"FixAll","payloadType":"str","topic":"topic","topicType":"msg","x":90,"y":200,"wires":[["fb06c89e.8706a8"]]},{"id":"1a15211e.99325f","type":"mqtt in","z":"108d6a9e.5ae535","name":"Incoming A1","topic":"/d/repairs/A1/","qos":"2","datatype":"auto","broker":"7338e8bb.63d7e8","nl":false,"rap":false,"x":110,"y":380,"wires":[["706e47ee.c784c8"]]},{"id":"706e47ee.c784c8","type":"switch","z":"108d6a9e.5ae535","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"on","vt":"str"},{"t":"eq","v":"off","vt":"str"},{"t":"eq","v":"error","vt":"str"},{"t":"eq","v":"perfect","vt":"str"},{"t":"eq","v":"complex","vt":"str"}],"checkall":"true","repair":false,"outputs":5,"x":270,"y":380,"wires":[["bfb8fef6.290bc"],["a113c7be.b09dd8"],["bfb8fef6.290bc","a113c7be.b09dd8"],["a113c7be.b09dd8","bfb8fef6.290bc"],["bfb8fef6.290bc","a113c7be.b09dd8"]]},{"id":"a113c7be.b09dd8","type":"change","z":"108d6a9e.5ae535","name":"False","rules":[{"t":"set","p":"payload","pt":"msg","to":"false","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":450,"y":400,"wires":[[]]},{"id":"bfb8fef6.290bc","type":"change","z":"108d6a9e.5ae535","name":"True","rules":[{"t":"set","p":"payload","pt":"msg","to":"true","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":450,"y":360,"wires":[[]]},{"id":"62645282.d015fc","type":"ui_led","z":"ce607712.d56ad8","order":4,"group":"590ecc9d.73ddb4","width":6,"height":1,"label":"Malfunction  ","labelPlacement":"left","labelAlignment":"left","colorForValue":[{"color":"grey","value":"false","valueType":"bool"},{"color":"Yellow","value":"true","valueType":"bool"}],"allowColorForValueInMessage":false,"name":"Yellow LED","x":610,"y":140,"wires":[]},{"id":"461d1b9e.9d6684","type":"ui_led","z":"ce607712.d56ad8","order":3,"group":"590ecc9d.73ddb4","width":6,"height":1,"label":"Calibrated ","labelPlacement":"left","labelAlignment":"left","colorForValue":[{"color":"grey","value":"false","valueType":"bool"},{"color":"blue","value":"true","valueType":"bool"}],"allowColorForValueInMessage":false,"name":"Blue LED","x":600,"y":180,"wires":[]},{"id":"25298803.7c7cd8","type":"ui_led","z":"ce607712.d56ad8","order":1,"group":"590ecc9d.73ddb4","width":6,"height":1,"label":"On-Line","labelPlacement":"left","labelAlignment":"left","colorForValue":[{"color":"grey","value":"false","valueType":"bool"},{"color":"green","value":"true","valueType":"bool"}],"allowColorForValueInMessage":false,"name":"Green LED","x":610,"y":100,"wires":[]},{"id":"1fc682fa.c47b5d","type":"mqtt in","z":"ce607712.d56ad8","name":"Incoming A1","topic":"/d/repairs/A1/","qos":"2","datatype":"auto","broker":"7338e8bb.63d7e8","nl":false,"rap":false,"x":90,"y":140,"wires":[["55ed16de.ae1588","a58a4daa.bd439"]]},{"id":"55ed16de.ae1588","type":"switch","z":"ce607712.d56ad8","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"on","vt":"str"},{"t":"eq","v":"off","vt":"str"},{"t":"eq","v":"error","vt":"str"},{"t":"eq","v":"perfect","vt":"str"},{"t":"eq","v":"complex","vt":"str"}],"checkall":"true","repair":false,"outputs":5,"x":270,"y":140,"wires":[["1d3a1f89.fc022"],["8c5bfb8d.543958"],["1d3a1f89.fc022","8c5bfb8d.543958"],["8c5bfb8d.543958","1d3a1f89.fc022"],["1d3a1f89.fc022","8c5bfb8d.543958"]]},{"id":"8c5bfb8d.543958","type":"change","z":"ce607712.d56ad8","name":"False","rules":[{"t":"set","p":"payload","pt":"msg","to":"false","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":450,"y":160,"wires":[["25298803.7c7cd8","62645282.d015fc","461d1b9e.9d6684"]]},{"id":"1d3a1f89.fc022","type":"change","z":"ce607712.d56ad8","name":"True","rules":[{"t":"set","p":"payload","pt":"msg","to":"true","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":450,"y":120,"wires":[["25298803.7c7cd8","62645282.d015fc"]]},{"id":"38ea1753.de8da8","type":"ui_led","z":"ce607712.d56ad8","order":4,"group":"55acb186.2ed6a","width":6,"height":1,"label":"Malfunction  ","labelPlacement":"left","labelAlignment":"left","colorForValue":[{"color":"grey","value":"false","valueType":"bool"},{"color":"Yellow","value":"true","valueType":"bool"}],"allowColorForValueInMessage":false,"name":"Yellow LED","x":610,"y":340,"wires":[]},{"id":"28a9721b.ca26ce","type":"ui_led","z":"ce607712.d56ad8","order":3,"group":"55acb186.2ed6a","width":6,"height":1,"label":"Calibrated ","labelPlacement":"left","labelAlignment":"left","colorForValue":[{"color":"grey","value":"false","valueType":"bool"},{"color":"blue","value":"true","valueType":"bool"}],"allowColorForValueInMessage":false,"name":"Blue LED","x":600,"y":380,"wires":[]},{"id":"2c270879.9ca328","type":"ui_led","z":"ce607712.d56ad8","order":1,"group":"55acb186.2ed6a","width":6,"height":1,"label":"On-Line","labelPlacement":"left","labelAlignment":"left","colorForValue":[{"color":"grey","value":"false","valueType":"bool"},{"color":"green","value":"true","valueType":"bool"}],"allowColorForValueInMessage":false,"name":"Green LED","x":610,"y":300,"wires":[]},{"id":"20d77c84.bb8cb4","type":"mqtt in","z":"ce607712.d56ad8","name":"Incoming A2","topic":"/d/repairs/A2/","qos":"2","datatype":"auto","broker":"7338e8bb.63d7e8","nl":false,"rap":false,"x":90,"y":340,"wires":[["71bad1f6.94014","43abd94b.ce3928"]]},{"id":"71bad1f6.94014","type":"switch","z":"ce607712.d56ad8","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"on","vt":"str"},{"t":"eq","v":"off","vt":"str"},{"t":"eq","v":"error","vt":"str"},{"t":"eq","v":"perfect","vt":"str"},{"t":"eq","v":"complex","vt":"str"}],"checkall":"true","repair":false,"outputs":5,"x":270,"y":340,"wires":[["6f1510b1.23289"],["46e6c42f.cf9d1c"],["6f1510b1.23289","46e6c42f.cf9d1c"],["46e6c42f.cf9d1c","6f1510b1.23289"],["6f1510b1.23289","46e6c42f.cf9d1c"]]},{"id":"46e6c42f.cf9d1c","type":"change","z":"ce607712.d56ad8","name":"False","rules":[{"t":"set","p":"payload","pt":"msg","to":"false","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":450,"y":360,"wires":[["2c270879.9ca328","38ea1753.de8da8","28a9721b.ca26ce"]]},{"id":"6f1510b1.23289","type":"change","z":"ce607712.d56ad8","name":"True","rules":[{"t":"set","p":"payload","pt":"msg","to":"true","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":450,"y":320,"wires":[["2c270879.9ca328","38ea1753.de8da8"]]},{"id":"3b3ce226.6307ce","type":"ui_led","z":"ce607712.d56ad8","order":4,"group":"ede6cdc2.9b866","width":6,"height":1,"label":"Malfunction  ","labelPlacement":"left","labelAlignment":"left","colorForValue":[{"color":"grey","value":"false","valueType":"bool"},{"color":"Yellow","value":"true","valueType":"bool"}],"allowColorForValueInMessage":false,"name":"Yellow LED","x":610,"y":560,"wires":[]},{"id":"93075b8e.c9fea8","type":"ui_led","z":"ce607712.d56ad8","order":3,"group":"ede6cdc2.9b866","width":6,"height":1,"label":"Calibrated ","labelPlacement":"left","labelAlignment":"left","colorForValue":[{"color":"grey","value":"false","valueType":"bool"},{"color":"blue","value":"true","valueType":"bool"}],"allowColorForValueInMessage":false,"name":"Blue LED","x":600,"y":600,"wires":[]},{"id":"2b894308.39d3dc","type":"ui_led","z":"ce607712.d56ad8","order":1,"group":"ede6cdc2.9b866","width":6,"height":1,"label":"On-Line","labelPlacement":"left","labelAlignment":"left","colorForValue":[{"color":"grey","value":"false","valueType":"bool"},{"color":"green","value":"true","valueType":"bool"}],"allowColorForValueInMessage":false,"name":"Green LED","x":610,"y":520,"wires":[]},{"id":"bff8b00f.2df0e","type":"mqtt in","z":"ce607712.d56ad8","name":"Incoming A3","topic":"/d/repairs/A3/","qos":"2","datatype":"auto","broker":"7338e8bb.63d7e8","nl":false,"rap":false,"x":90,"y":560,"wires":[["e14af2ea.954cf","3310ca5e.95e296"]]},{"id":"e14af2ea.954cf","type":"switch","z":"ce607712.d56ad8","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"on","vt":"str"},{"t":"eq","v":"off","vt":"str"},{"t":"eq","v":"error","vt":"str"},{"t":"eq","v":"perfect","vt":"str"},{"t":"eq","v":"complex","vt":"str"}],"checkall":"true","repair":false,"outputs":5,"x":270,"y":560,"wires":[["98be59d7.9cbfc8"],["926e2d9a.2612"],["98be59d7.9cbfc8","926e2d9a.2612"],["926e2d9a.2612","98be59d7.9cbfc8"],["98be59d7.9cbfc8","926e2d9a.2612"]]},{"id":"926e2d9a.2612","type":"change","z":"ce607712.d56ad8","name":"False","rules":[{"t":"set","p":"payload","pt":"msg","to":"false","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":450,"y":580,"wires":[["2b894308.39d3dc","3b3ce226.6307ce","93075b8e.c9fea8"]]},{"id":"98be59d7.9cbfc8","type":"change","z":"ce607712.d56ad8","name":"True","rules":[{"t":"set","p":"payload","pt":"msg","to":"true","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":450,"y":540,"wires":[["2b894308.39d3dc","3b3ce226.6307ce"]]},{"id":"83994513.0eced8","type":"ui_led","z":"ce607712.d56ad8","order":4,"group":"fefd588d.6ff448","width":6,"height":1,"label":"Malfunction  ","labelPlacement":"left","labelAlignment":"left","colorForValue":[{"color":"grey","value":"false","valueType":"bool"},{"color":"Yellow","value":"true","valueType":"bool"}],"allowColorForValueInMessage":false,"name":"Yellow LED","x":1390,"y":560,"wires":[]},{"id":"a858ef67.57a33","type":"ui_led","z":"ce607712.d56ad8","order":3,"group":"fefd588d.6ff448","width":6,"height":1,"label":"Calibrated ","labelPlacement":"left","labelAlignment":"left","colorForValue":[{"color":"grey","value":"false","valueType":"bool"},{"color":"blue","value":"true","valueType":"bool"}],"allowColorForValueInMessage":false,"name":"Blue LED","x":1380,"y":600,"wires":[]},{"id":"d76d07f9.820378","type":"ui_led","z":"ce607712.d56ad8","order":1,"group":"fefd588d.6ff448","width":6,"height":1,"label":"On-Line","labelPlacement":"left","labelAlignment":"left","colorForValue":[{"color":"grey","value":"false","valueType":"bool"},{"color":"green","value":"true","valueType":"bool"}],"allowColorForValueInMessage":false,"name":"Green LED","x":1390,"y":520,"wires":[]},{"id":"a1c47dbe.41909","type":"mqtt in","z":"ce607712.d56ad8","name":"Incoming B3","topic":"/d/repairs/B3/","qos":"2","datatype":"auto","broker":"7338e8bb.63d7e8","nl":false,"rap":false,"x":870,"y":560,"wires":[["59725260.5cb46c","8e40acf9.bf215"]]},{"id":"59725260.5cb46c","type":"switch","z":"ce607712.d56ad8","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"on","vt":"str"},{"t":"eq","v":"off","vt":"str"},{"t":"eq","v":"error","vt":"str"},{"t":"eq","v":"perfect","vt":"str"},{"t":"eq","v":"complex","vt":"str"}],"checkall":"true","repair":false,"outputs":5,"x":1050,"y":560,"wires":[["3e76a2f9.d8bd8e"],["1b8f4bc7.56a184"],["3e76a2f9.d8bd8e","1b8f4bc7.56a184"],["1b8f4bc7.56a184","3e76a2f9.d8bd8e"],["3e76a2f9.d8bd8e","1b8f4bc7.56a184"]]},{"id":"1b8f4bc7.56a184","type":"change","z":"ce607712.d56ad8","name":"False","rules":[{"t":"set","p":"payload","pt":"msg","to":"false","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":1230,"y":580,"wires":[["d76d07f9.820378","83994513.0eced8","a858ef67.57a33"]]},{"id":"3e76a2f9.d8bd8e","type":"change","z":"ce607712.d56ad8","name":"True","rules":[{"t":"set","p":"payload","pt":"msg","to":"true","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":1230,"y":540,"wires":[["d76d07f9.820378","83994513.0eced8"]]},{"id":"543c1ee4.378e3","type":"ui_led","z":"ce607712.d56ad8","order":4,"group":"721e06c2.991668","width":6,"height":1,"label":"Malfunction  ","labelPlacement":"left","labelAlignment":"left","colorForValue":[{"color":"grey","value":"false","valueType":"bool"},{"color":"Yellow","value":"true","valueType":"bool"}],"allowColorForValueInMessage":false,"name":"Yellow LED","x":1410,"y":120,"wires":[]},{"id":"d0653f74.8f077","type":"ui_led","z":"ce607712.d56ad8","order":3,"group":"721e06c2.991668","width":6,"height":1,"label":"Calibrated ","labelPlacement":"left","labelAlignment":"left","colorForValue":[{"color":"grey","value":"false","valueType":"bool"},{"color":"blue","value":"true","valueType":"bool"}],"allowColorForValueInMessage":false,"name":"Blue LED","x":1400,"y":160,"wires":[]},{"id":"e3a434d0.170a48","type":"ui_led","z":"ce607712.d56ad8","order":1,"group":"721e06c2.991668","width":6,"height":1,"label":"On-Line","labelPlacement":"left","labelAlignment":"left","colorForValue":[{"color":"grey","value":"false","valueType":"bool"},{"color":"green","value":"true","valueType":"bool"}],"allowColorForValueInMessage":false,"name":"Green LED","x":1410,"y":80,"wires":[]},{"id":"b964ed15.9299f","type":"mqtt in","z":"ce607712.d56ad8","name":"Incoming B1","topic":"/d/repairs/B1/","qos":"2","datatype":"auto","broker":"7338e8bb.63d7e8","nl":false,"rap":false,"x":890,"y":120,"wires":[["489d2425.73043c","f7c74c23.d590a"]]},{"id":"489d2425.73043c","type":"switch","z":"ce607712.d56ad8","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"on","vt":"str"},{"t":"eq","v":"off","vt":"str"},{"t":"eq","v":"error","vt":"str"},{"t":"eq","v":"perfect","vt":"str"},{"t":"eq","v":"complex","vt":"str"}],"checkall":"true","repair":false,"outputs":5,"x":1070,"y":120,"wires":[["1548f407.8463dc"],["5e990d5f.62dff4"],["1548f407.8463dc","5e990d5f.62dff4"],["5e990d5f.62dff4","1548f407.8463dc"],["1548f407.8463dc","5e990d5f.62dff4"]]},{"id":"5e990d5f.62dff4","type":"change","z":"ce607712.d56ad8","name":"False","rules":[{"t":"set","p":"payload","pt":"msg","to":"false","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":1250,"y":140,"wires":[["e3a434d0.170a48","543c1ee4.378e3","d0653f74.8f077"]]},{"id":"1548f407.8463dc","type":"change","z":"ce607712.d56ad8","name":"True","rules":[{"t":"set","p":"payload","pt":"msg","to":"true","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":1250,"y":100,"wires":[["e3a434d0.170a48","543c1ee4.378e3"]]},{"id":"999105a4.e82118","type":"ui_led","z":"ce607712.d56ad8","order":4,"group":"c9f5b28a.635fa","width":6,"height":1,"label":"Malfunction  ","labelPlacement":"left","labelAlignment":"left","colorForValue":[{"color":"grey","value":"false","valueType":"bool"},{"color":"Yellow","value":"true","valueType":"bool"}],"allowColorForValueInMessage":false,"name":"Yellow LED","x":1410,"y":320,"wires":[]},{"id":"8a2fa20e.61fc2","type":"ui_led","z":"ce607712.d56ad8","order":3,"group":"c9f5b28a.635fa","width":6,"height":1,"label":"Calibrated ","labelPlacement":"left","labelAlignment":"left","colorForValue":[{"color":"grey","value":"false","valueType":"bool"},{"color":"blue","value":"true","valueType":"bool"}],"allowColorForValueInMessage":false,"name":"Blue LED","x":1400,"y":360,"wires":[]},{"id":"f504c3cd.7fd67","type":"ui_led","z":"ce607712.d56ad8","order":1,"group":"c9f5b28a.635fa","width":6,"height":1,"label":"On-Line","labelPlacement":"left","labelAlignment":"left","colorForValue":[{"color":"grey","value":"false","valueType":"bool"},{"color":"green","value":"true","valueType":"bool"}],"allowColorForValueInMessage":false,"name":"Green LED","x":1410,"y":280,"wires":[]},{"id":"475ee471.a4154c","type":"mqtt in","z":"ce607712.d56ad8","name":"Incoming B2","topic":"/d/repairs/B2/","qos":"2","datatype":"auto","broker":"7338e8bb.63d7e8","nl":false,"rap":false,"x":890,"y":320,"wires":[["5ba995d4.8c2d0c","52128af.d2df474"]]},{"id":"5ba995d4.8c2d0c","type":"switch","z":"ce607712.d56ad8","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"on","vt":"str"},{"t":"eq","v":"off","vt":"str"},{"t":"eq","v":"error","vt":"str"},{"t":"eq","v":"perfect","vt":"str"},{"t":"eq","v":"complex","vt":"str"}],"checkall":"true","repair":false,"outputs":5,"x":1070,"y":320,"wires":[["d533928c.e58f5"],["c8c72fa8.97d99"],["d533928c.e58f5","c8c72fa8.97d99"],["c8c72fa8.97d99","d533928c.e58f5"],["d533928c.e58f5","c8c72fa8.97d99"]]},{"id":"c8c72fa8.97d99","type":"change","z":"ce607712.d56ad8","name":"False","rules":[{"t":"set","p":"payload","pt":"msg","to":"false","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":1250,"y":340,"wires":[["f504c3cd.7fd67","999105a4.e82118","8a2fa20e.61fc2"]]},{"id":"d533928c.e58f5","type":"change","z":"ce607712.d56ad8","name":"True","rules":[{"t":"set","p":"payload","pt":"msg","to":"true","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":1250,"y":300,"wires":[["f504c3cd.7fd67","999105a4.e82118"]]},{"id":"3310ca5e.95e296","type":"ui_chart","z":"ce607712.d56ad8","name":"","group":"ede6cdc2.9b866","order":2,"width":6,"height":3,"label":"Corruption Level","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":"5","removeOlderPoints":"","removeOlderUnit":"60","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":620,"y":460,"wires":[[]]},{"id":"43abd94b.ce3928","type":"ui_chart","z":"ce607712.d56ad8","name":"","group":"55acb186.2ed6a","order":2,"width":6,"height":3,"label":"Corruption Level","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":"5","removeOlderPoints":"","removeOlderUnit":"60","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":620,"y":240,"wires":[[]]},{"id":"a58a4daa.bd439","type":"ui_chart","z":"ce607712.d56ad8","name":"","group":"590ecc9d.73ddb4","order":2,"width":6,"height":3,"label":"Corruption Level","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":"5","removeOlderPoints":"","removeOlderUnit":"60","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":600,"y":40,"wires":[[]]},{"id":"f7c74c23.d590a","type":"ui_chart","z":"ce607712.d56ad8","name":"","group":"721e06c2.991668","order":2,"width":6,"height":3,"label":"Corruption Level","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":"5","removeOlderPoints":"","removeOlderUnit":"60","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":1420,"y":20,"wires":[[]]},{"id":"52128af.d2df474","type":"ui_chart","z":"ce607712.d56ad8","name":"","group":"c9f5b28a.635fa","order":2,"width":6,"height":3,"label":"Corruption Level","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":"5","removeOlderPoints":"","removeOlderUnit":"60","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":1420,"y":220,"wires":[[]]},{"id":"8e40acf9.bf215","type":"ui_chart","z":"ce607712.d56ad8","name":"","group":"fefd588d.6ff448","order":2,"width":6,"height":3,"label":"Corruption Level","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":"5","removeOlderPoints":"","removeOlderUnit":"60","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":1400,"y":460,"wires":[[]]},{"id":"79f1d2a0.9a5a0c","type":"switch","z":"4c9031d5.897f1","name":"","property":"topic","propertyType":"msg","rules":[{"t":"eq","v":"d-out/B1/is-error","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":360,"y":520,"wires":[["84f7fea0.5e7f3"]]}]