docker/node-red/data/flows.json
[{"id":"4c9031d5.897f1","type":"tab","label":"Daedalus input","disabled":false,"info":"send events to Daedalus"},{"id":"7338e8bb.63d7e8","type":"mqtt-broker","name":"","broker":"mqtt","port":"1883","clientid":"","usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"sessionExpiry":""},{"id":"d8a247d1.ba1af8","type":"inject","z":"4c9031d5.897f1","name":"A1","props":[{"p":"panelId","v":"A1","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","x":110,"y":80,"wires":[["52e5160e.7a0cb8"]]},{"id":"422b4c53.0de284","type":"http request","z":"4c9031d5.897f1","name":"Fix Everything","method":"GET","ret":"txt","paytoqs":"ignore","url":"http://{{host}}:56667/fixeverything/{{panelId}}","tls":"","persist":false,"proxy":"","authType":"","x":660,"y":80,"wires":[["93ec6a22.588028"]]},{"id":"93ec6a22.588028","type":"debug","z":"4c9031d5.897f1","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":870,"y":80,"wires":[]},{"id":"ab65bd4.ad5424","type":"inject","z":"4c9031d5.897f1","name":"A2","props":[{"p":"panelId","v":"A2","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","x":110,"y":140,"wires":[["52e5160e.7a0cb8"]]},{"id":"4fe4c92.693f938","type":"inject","z":"4c9031d5.897f1","name":"A3","props":[{"p":"panelId","v":"A3","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","x":110,"y":200,"wires":[["52e5160e.7a0cb8"]]},{"id":"d1451bbe.48d298","type":"inject","z":"4c9031d5.897f1","name":"B1","props":[{"p":"panelId","v":"B1","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","x":250,"y":40,"wires":[["52e5160e.7a0cb8"]]},{"id":"cd42ba32.25cd28","type":"inject","z":"4c9031d5.897f1","name":"B2","props":[{"p":"panelId","v":"B2","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","x":250,"y":100,"wires":[["52e5160e.7a0cb8"]]},{"id":"9a3b1b0c.df2e48","type":"inject","z":"4c9031d5.897f1","name":"B3","props":[{"p":"panelId","v":"B3","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","x":250,"y":160,"wires":[["52e5160e.7a0cb8"]]},{"id":"52e5160e.7a0cb8","type":"template","z":"4c9031d5.897f1","name":"host","field":"host","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"${DAEDALUS_HOST}","output":"str","x":490,"y":80,"wires":[["422b4c53.0de284"]]},{"id":"ea079615.361508","type":"udp out","z":"4c9031d5.897f1","name":"UDP 57121","addr":"${DAEDALUS_HOST}","iface":"","port":"57121","ipv":"udp4","outport":"","base64":false,"multicast":"false","x":870,"y":280,"wires":[]},{"id":"9acc32ed.bc6ad","type":"osc","z":"4c9031d5.897f1","name":"","path":"","metadata":false,"x":690,"y":280,"wires":[["ea079615.361508"]]},{"id":"7a59bc14.aca874","type":"inject","z":"4c9031d5.897f1","name":"fix-everything : A1","props":[{"p":"panelId","v":"A1","vt":"str"},{"p":"command","v":"fix-everything","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payloadType":"str","x":150,"y":280,"wires":[["947de0e7.506cf"]]},{"id":"26d41833.e07ac8","type":"inject","z":"4c9031d5.897f1","name":"complex-error : B2","props":[{"p":"panelId","v":"B2","vt":"str"},{"p":"command","v":"complex-error","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payloadType":"str","x":150,"y":340,"wires":[["947de0e7.506cf"]]},{"id":"7ce6f1e.a90f21","type":"udp in","z":"4c9031d5.897f1","name":"","iface":"","port":"57122","ipv":"udp4","multicast":"false","group":"","datatype":"buffer","x":110,"y":420,"wires":[["e6908f08.6564a"]]},{"id":"e6908f08.6564a","type":"debug","z":"4c9031d5.897f1","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":460,"y":460,"wires":[]},{"id":"947de0e7.506cf","type":"template","z":"4c9031d5.897f1","name":"address","field":"topic","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"/d/repairs/{{panelId}}/{{command}}","output":"str","x":500,"y":280,"wires":[["9acc32ed.bc6ad"]]}]